.pageContainer {
  padding: 100px 19%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageContainer h2 {
  font-size: 22px;
  font-weight: 300;
}

.pageContainer p {
  margin-bottom: 20px;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.production:first-child .img {
  width: auto;
  height: auto;
}

.production:nth-child(2) .img {
  width: 500px;
  height: 430px;
}

.production:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.production {
  position: relative;
  background-color: black;
  width: fit-content;
}

.img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  opacity: calc(0.5);
}

.img:hover {
  transform: scale(1.1);
}

.zoomIn {
  overflow: hidden;
}

.content {
  position: absolute;
  bottom: 25px;
  left: 20px;
  width: 90%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category {
  background-color: var(--primary-color);
  padding: 4px 9px;
  border-radius: 15px;
  background-color: var(--primary-color);
  width: fit-content;
  color: #fff;
}

.title {
  color: #fdfdfd;
  font-weight: 700;
}

.location {
  font-size: 14px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1398px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .production:first-child .img {
    width: 500px;
    height: 400px;
  }

  .production:first-child {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}

@media screen and (max-width: 936px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .pageContainer {
    padding: 100px 12%;
    background-color: #fff;
  }
}

@media screen and (max-width: 680px) {
  .pageContainer {
    padding: 100px 6%;
  }
}
