.feedbackContainer {
  padding: 100px 19%;
  background-color: #fff;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h2 {
  font-size: 28px;
  font-weight: 300;
}

.mySlider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 50px;
}

.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  color: var(--primary-color);
  margin-top: 30px;
}

.feedback {
  padding: 0 20px;
  color: #332;
  line-height: 1.9;
  font-weight: 300;
  margin-top: 10px;
}

@media screen and (max-width: 830px) {
  .feedbackContainer {
    padding: 100px 10%;
  }
}

@media screen and (max-width: 468px) {
  .feedbackContainer {
    padding: 100px 5%;
  }
  .feedback {
    font-size: 14px;
  }
}
